template |research|
DEF

  __BLANK__

GOAL (PROBLEM TO ADDRESS)

  __BLANK__

CHALLENGE AND PAST WORK

  __BLANK__

MY PROPOSED APPROACH

  __BLANK__

EXPERIMENTS SHOWING VALIDITY

  __BLANK__

endtemplate
