# snippet /\(/ "( )" r
# (${1:Write Here})
# endsnippet
# 
# snippet /\[/ "[ ]" r
# [${1:Write Here}]
# endsnippet
# 
# snippet /\{/ "{ }" r
# {${1:Write Here}}
# endsnippet
# 
# snippet /\'/ "quote" r
# '${1:Write Here}'
# endsnippet
# 
# snippet /</ "angle" r
# <${1:Write Here}>
# endsnippet


snippet /tk/ "types of thinking" r
`!p
with open("/Users/Scott/.vim/UltiSnips/thinking/vocabulary.md", "r") as myfile:
	mytext = myfile.read()
snip.rv = mytext
`
endsnippet


