snippet h "header of perl files in linux/unix" b
#!/usr/bin/perl

use strict;
use warnings;
use feature 'say';

endsnippet

snippet /openpl/ "open file" r
open(my $${1:file handler name}, "${2:<}", ${3:filename});
endsnippet
